################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProblemSolvingDataStructure/v15/Server/sqlite3
/.vs/ProblemSolvingDataStructure/v15
